@import "themes/mocha.css";

* {
    font-family: CaskaydiaMono Nerd Font;
    font-size: 12px;
    min-height: 20px;
    padding: 0 3px;
    color: @text;
}

window#waybar {}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    margin: 0 1px;
    padding: 0 2px;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#custom-bandwidth,
#custom-notification,
#custom-update,
#custom-logo,
#idle_inhibitor,
#window,
#memory,
#custom-storage,
#network,
#wireplumber,
#pulseaudio.input,
#battery,
#tray,
#backlight,
#workspaces,
#clock,
#cpu,
#custom-spotify,
#disk,
#mode {
    padding: 2 10 2 8px;
    background-color: @bg-module;
    border-radius: 14px;
    border: 2px solid @border-module;
    color: @fg-module;
}

#tray {
    background-color: @bg-tray;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#clock {
    color: @blue;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
}

#backlight,
#battery {
    border-radius: 0;
}

#pulseaudio {
    color: @maroon;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
    margin-right: 1rem;
    border-radius: 1rem;
}
