/* github.com/pahasara/dotFiles */

@import url("/home/shinzo/.config/waybar/themes/nocturne.css");

* {
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 12px;
    min-height: 20px;
    padding: 0 3px;
    font-weight: bold;
}


window#waybar {
    background: @background;
    border: 0px solid @border;
    border-radius: 10;
}

#window {}

#workspaces {}

#workspaces button {
    margin: 0 1px;
    padding: 0 2px;
    color: @fg-module;
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button.focused {
    border-top: 2px solid transparent;
}

#workspaces button.active {
    color: @foreground;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#custom-bandwidth,
#custom-notification,
#custom-update,
#custom-logo,
#idle_inhibitor,
#window,
#memory,
#custom-storage,
#network,
#wireplumber,
#battery,
#tray,
#backlight,
#workspaces,
#clock,
#cpu,
#custom-spotify,
#mode {
    padding: 2 10 2 8px;
    background-color: @bg-module;
    border-radius: 14px;
    border: 2px solid @border-module;
    color: @fg-module;
}

#tray {
    background-color: @bg-tray;
}

#custom-logo {
    color: @foreground;
}

#battery {}

#battery icon {
    color: red;
}

#battery.plugged {
    color: @foreground;
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    color: @foreground;
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @fg-blink;
    }
}

#battery.warning:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {}

#memory {}

#network {
    padding: 2 13 2 8px;
}

#network.disconnected {}

#idle_inhibitor {
    color: @foreground;
    padding: 2 5 2 8px;
}

#custom-update {
    padding: 2 13 2 8px;
}

#idle_inhibitor.activated {
    color: @fg-module;
}

#pulseaudio {}

#pulseaudio.muted {}

#custom-spotify {}

#custom-seperator {
    color: @separator;
}

#tray {
    padding: 3;
}
